.imageBannerContainer {
  width: 100%;
  min-height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 160px;
}

.imageBannerDesktop {
  position: relative;
  min-height: 250px;
  max-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
}