.mainContainer {
  position: relative;
}

.containerParraf {
  font-family: UrbanistRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.makePaymentContainer {
  position: relative;
}

.makePaymentBox {
  position: relative;
}

.chartContainerBox {
  position: relative;
  max-width: 539px;
  margin: 0 auto;
  padding-top: 1rem;
}

.congratsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  max-width: 768px;
  align-items: center;
}

.congratsContainer>button {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .makePaymentContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  .makePaymentBox {
    position: relative;
  }

  .makePaymentContainer>button {
    width: 173px !important;
    height: 40px !important;
  }

  .containerParraf {
    font-size: 18px;
  }

  .congratsContainer {

    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .congratsContainer>button {
    margin-top: unset;
  }

}

@media screen and (min-width: 1200px) {
  .chartContainerBox {
    max-width: 768px;
    margin: unset;
    margin-right: auto;
  }

  .makePaymentContainer {
    max-width: 817px;
    justify-content: space-between;
  }

  .containerParraf {
    font-size: 18px;
  }
}