.asideMenuWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3552CC;
  z-index: 1090;
  display: block;
  left: -1000vw;
  top: 0;
  transition: left 350ms ease-in;
}

.asideMenuContainer {
  width: inherit;
  height: inherit;
  padding: 16px 26px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.menuButton {
  background: transparent;
  outline: 3px solid transparent;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms ease;
}

.menuButton:hover {
  transition: all 150ms ease;
  cursor: pointer;
  background: #ffffff33;
  outline: 3px solid #ffffff33;
}

.menuList {
  margin-left: -26px;
  margin-right: -26px;
}

.menuList .menuListItem {
  list-style: none;
  padding-left: 26px;
  padding-right: 26px;
}

.menuListItem i {
  width: 24px;
  height: 24px;
  display: block;
  color: white;
}

.asideMenuTopNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.asideMenuTopNav img {
  min-width: 134px;
}

.asideMenuTopNav i {
  font-size: 24px;
  font-weight: 400;
  display: block;
  width: 24px;
  height: 24px;
  color: white;
}

.username,
.profile {
  color: white;
  line-height: 1.25;
  font-style: normal;
}

.username {
  font-family: UrbanistBold;
  font-weight: 700;
  font-size: 22px;

  margin-bottom: 0.5rem;
}

.profile {
  font-family: UrbanistSemiBold;
  font-weight: 600;
  font-size: 18px;

  margin-bottom: 1.25rem;
}

.menuListLabel {
  font-family: UrbanistRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #3552CC;
  text-decoration: none;

  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;

  min-height: 60px;
  transition: all 150ms linear;
}

.menuListItem:hover,
.selectedItem {
  background: #FFF;
  transition: all 150ms linear;
  cursor: pointer;
  color: #3552CC;
}

.menuListItem:hover,
.selectedItem>a>* {
  color: #3552CC !important;
}

.asideMenuWrapperDesk {
  min-width: 280px;
  max-width: 280px;
  height: 100dvh;
  height: 100vh;
  background: linear-gradient(180deg, #3552CC 0%, rgba(196, 196, 196, 0) 100%);
}

.wrapperDeskHead {
  position: relative;
  max-height: 258px;
  min-height: 258px;
}

.headMedsiLogo {
  padding: 40px 50px;
}

.wrapperDeskBody {
  position: relative;
}

.asideMenuLeftNav {
  position: relative;
}

.leftNavContainer {
  position: relative;
}

.leftNavContainer>li {
  max-height: 58px;
  min-height: 58px;
  position: relative;
}

.asideLink {
  width: 100%;
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.asideLink {
  width: 100%;
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  font-family: UrbanistSemiBold;
  font-size: 18px;
  gap: 20px;
}

.asideLink>i {
  margin-left: 3rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #3552CC;
}

.asideLink>* {
  color: #3552CC;
  text-decoration: none;
}

.isOpenedMenu {
  left: 0;
  transition: left 350ms ease-in;
}

@media screen and (min-width: 768px) {

  .menuListLabel>a>* {
    color: #FFF;
  }

  .selectedItem>a::before {
    content: '';
    width: 6px;
    height: 58px;
    background: #3955cd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
  }
}