.changeOpinion {
  padding: 36px 26px;
}

.opinionImage {
  min-height: 166px;
  max-height: 166px;
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.opinionParraf {
  font-family: UrbanistRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.opinionSubText {
  font-family: UrbanistRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.opinionTitle,
.opinionTitle2 {
  font-family: UrbanistSemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  white-space: nowrap;
}

.opinionTitle2 {
  margin-top: 16px;
  margin-bottom: 32px;
}

.subTextBox {
  padding: 17px 0px 28px 0px;
}

@media (min-width: 768px) {
  .changeOpinion {
    padding: 16px 44px;
  }

  .opinionSplitBox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .splitBoxText {
    max-width: 320px;
  }

  .opinionTitle,
  .opinionTitle2 {
    font-size: 22px;
    line-height: 26px;
  }

  .opinionParraf {
    font-size: 14px;
    line-height: 21px;
  }

  .subTextBox {
    padding: 17px 0px 0px 0px;
  }

  .opinionImage {
    min-height: 128px;
    max-height: 128px;
    background-size: contain;
  }

  .opinionSubText {
    font-size: 10px;
    line-height: 12px;
  }
}


@media (min-width: 992px) {

  .changeOpinion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .opinionTitle,
  .opinionTitle2 {
    font-size: 32px;
    line-height: 1.25;
  }

  .opinionParraf {
    font-size: 16px;
    line-height: 1.25;
  }

  .opinionSubText {
    font-size: 12px;
    line-height: 1.25;
  }

  .splitBoxText {
    max-width: 440px;
  }

  .opinionImage {
    min-height: 160px;
    max-height: 160px;
    width: 400px;
  }

  .changeOpinionContainer {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .changeOpinion {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .splitBoxText {
    max-width: 900px;
  }

  .opinionImage {
    min-height: 310px;
    max-height: 310px;
    width: 600px;
    margin-left: auto;
    margin-top: -5rem;
  }
  .opinionParraf{
    margin-top: 2rem;
    font-size: 16px;
  }
  .opinionSubText {
    font-size: 14px;
  }
}