.landingWrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.requestSaveButton {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: white;
  background: linear-gradient(90.13deg, #1B63DB 0.23%, #0ACC97 100.05%);
  font-family: UrbanistBold;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 78px;
}

/* Landing Header*/

.bannerImageContainer {
  background-size: cover;
  min-height: 320px;
  max-height: 320px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-position: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.headBanner {
  position: relative;
  min-height: 676px;
  background: linear-gradient(180deg, #012758 0%, #2476BC 100%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.bannerLogoItem {
  position: absolute;
  left: 50%;
  top: -17px;
  transform: translateX(-50%);
  min-height: 250px;
  max-height: 250px;
  z-index: 1080;
  background-size: cover;
  display: block;
  width: 250px;
}

.bannerParrafs {
  display: block;
  position: absolute;
  top: 196px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 202px;
}

.bannerParraf1 {
  font-family: UrbanistSemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0ACC97;
}

.bannerParraf2 {
  font-family: UrbanistBold;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.bannerParraf3 {
  font-family: UrbanistSemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #A8C5F6;
}

/* Advice Banner Container*/

.adviceBannerContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 354px;
  min-height: 354px;
  width: 100%;
  display: block;
}


@media (min-width: 768px) {
  .headBanner {
    min-height: 266px;
  }

  .bannerImageContainer {
    background-size: contain;
    min-height: 250px;
    max-height: 250px;
    right: 0px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .bannerPresentation {
    position: absolute;
    min-height: 266px;
    left: 80px;
    top: 0px;
    width: 191px;
  }

  .bannerLogoItem {
    min-height: 180px;
    max-height: 180px;
    background-size: contain;
    width: 180px;
    background-repeat: no-repeat;
  }

  .bannerParrafs {
    top: 128px;
    min-width: 183px;
  }

  .bannerParraf1 {
    font-size: 18px;
    line-height: 22px;
  }

  .bannerParraf2 {
    font-size: 28px;
    line-height: 34px;
    white-space: nowrap;
  }

  .bannerParraf3 {
    font-size: 14px;
    line-height: 17px;
  }

  .adviceBannerContainer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 284px;
    min-height: 284px;
    width: 100%;
    display: block;
  }

  .requestSaveButton {
    width: 340px;
  }
}

@media (min-width: 992px) {

  .headBanner {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    min-height: 250px;
    max-height: 250px;
  }

  .bannerDesktop {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 250px;
  }

  .bannerPresentationDesk {
    position: absolute;
    left: 80px;
    display: flex;
    flex-flow: row nowrap;
    min-height: 250px;
    align-items: center;
    gap: 40px;
  }

  .bannerLogoItemDesk {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bannerParrafsDesk {
    position: relative;
    max-width: 202px;
  }

  .bannerParraf1 {
    font-size: 20px;
    line-height: 24px;
  }

  .bannerParraf2 {
    font-size: 30px;
    line-height: 36px;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  .bannerParraf3 {
    font-size: 16px;
    line-height: 19px;
  }

  .adviceBannerContainer {
    background-repeat: repeat-x;
    max-height: 280px;
    min-height: 280px;
    background-color: #00263A;
  }

  .adviceBannerContent {
    display: flex;
    width: 90%;
    max-height: 280px;
    min-height: 280px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 24px;
  }

  .adviceBannerParraf {
    font-family: UrbanistSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
  }

  .playIcon {
    display: block;
    width: 75px;
    min-height: 75px;
    max-height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .requestSaveButton {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}