@font-face {
  font-family: "urbanistBold";
  src: local("PoppinsBold"),
    url("./assets/fonts/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "urbanistMedium";
  src: local("PoppinsBold"),
    url("./assets/fonts/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "urbanistSemiBold";
  src: local("PoppinsBold"),
    url("./assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "urbanistRegular";
  src: local("PoppinsBold"),
    url("./assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  overflow-x: hidden;
}

button.gradientButton {
  background: linear-gradient(90.13deg, #1B63DB 0.23%, #0ACC97 100.05%);
  border-radius: 20px;
  border: transparent;
  min-height: 40px;
  max-height: 40px; 
  width: 100%;
}

button.gradientButton:hover {
  cursor: pointer;
}

button.gradientButton>span {
  font-family: UrbanistBold;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  color: #FFFFFF;
  white-space: nowrap;
}

div.containerTitle {
  margin-bottom: 1rem;
}

div.containerTitle h5 {
  font-family: UrbanistBold;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.25;
  color: #3552CC;
}

.sectionContainer {
  position: relative;
  padding: 1rem 26px;
}

button.Header_backButton {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button.Header_backButton span {
  font-size: 14px;
  font-family: UrbanistMedium;
  font-style: normal;
  line-height: 1.25;

}


span.closeBackground {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; 
  background: transparent;
  display: block;
}

@media screen and (min-width: 768px) {
  .sectionContainer {
    padding: 44px 69px;
  }
}